@using Contexto;
@model List<Posto>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin="">
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin="">
</script>

<div class="row">
    <div class="col-md-12">
        <h4>Editar ou Excluir Posto</h4>
        <select id="select" class="custom-select" style="max-width:500px" onchange="preencherCampos()">
            @if (Model.Count > 0)
            {
                <option selected value="0">Selecione um posto</option>
                foreach (var item in Model)
                {
                    <option value="@item.PostoId|@item.Nome|@item.PostoCombustivel.ElementAt(0).Preco|@item.PostoCombustivel.ElementAt(1).Preco|@item.PostoCombustivel.ElementAt(2).Preco|@item.PostoCombustivel.ElementAt(3).Preco|@item.Latitude|@item.Longitude">@item.Nome</option>
                }
            }
            else
            {
                    <option selected value="0">Nenhum posto cadastrado foi encontrado!</option>
            }
        </select>
        <button class="btn btn-danger" onclick="ExcluirPosto()">Excluir</button>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <ul class="list-group-flush">
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Nome</span>
                                        </div>
                                        <input id="nome" type="text" class="form-control" placeholder="Ex: Ipiranga">
                                    </div>
                                </li>
                                <li class="list-group-item active">Preços</li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Gasolina Comum</span>
                                        </div>
                                        <input id="gasComum" type="text" class="form-control combustiveis">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Gasolina Aditivada</span>
                                        </div>
                                        <input id="gasAdit" type="text" class="form-control combustiveis">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Etanol Comum</span>
                                        </div>
                                        <input id="etanolComum" type="text" class="form-control combustiveis">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Etanol Aditivado</span>
                                        </div>
                                        <input id="etanolAdit" type="text" class="form-control combustiveis">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <button class="btn btn-success" onclick="EditarPosto()">
                                        Editar
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="latlong">Digite Lat e Long ou clique no mapa para marcar o local</label>
                                <input id="latlong" class="form-control" type="text" placeholder="Ex: -20.467524, -54.615538" style="max-width:100%" onblur="setMarker()" />
                            </div>
                            <div class="col-md-12">
                                <div id="map" style="height: 300px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Posto.js"></script>
<div id="alertE"class="Alert-top alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Erro!</strong><span id="msgErro"></span>
</div>
<div id="alertS" class="Alert-top alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Sucesso!</strong><span id="msgSucesso"></span> 
</div>

<div id="modalCarregando" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body align-items-center">
                <div class="spinner-border" role="status">
                </div>
                <strong style="margin-left:20px;">Carregando...</strong>
            </div>
        </div>
    </div>
</div>

<style>
    .Alert-top {
        position: fixed;
        top: 5px;
        left: 2%;
        width: 96%;
    }
    .alert {
        display: none;
    }
</style>
